* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: black;
    color: white;
    font-size: 16px;
    overflow: hidden;
}

header {
    position: fixed;
    width: 100vw;
    top: 0;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

.logo {
    font-family: "Orbitron", sans-serif;
    font-size: 2rem;
    font-weight: 900;
    color: #00f7ff;
    text-shadow: 0 0 10px rgb(126, 255, 255);

}

header nav ul {
    display: flex;
    gap: 30px;
}

header nav ul li {
    cursor: pointer;
    position: relative;
    padding: 10px 0;
}

header nav ul li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #00f7ff;
    transition: width 0.2s ease;
}

header nav ul li:hover::after {
    width: 100%;
}

.container {
    height: 100vh;
    position: relative;
    background: linear-gradient(135deg, #0f0f1e 0%, #1f1f3a 100%);
    overflow: hidden;
    align-items: center;
}


.container::before {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: radial-gradient(circle,
            rgba(0, 247, 255, 0.2) 0%,
            rgba(15, 15, 30, 0) 70%);
    top: 50px;
    left: 50px;
    filter: blur(50px);
    z-index: 1;
    animation: pulse 6s ease-in-out infinite;
}


.container::after {
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: radial-gradient(circle,
            rgba(0, 247, 255, 0.2) 0%,
            rgba(15, 15, 30, 0) 70%);
    top: 60%;
    left: 60%;
    filter: blur(50px);
    z-index: 1;
    animation: pulse 4s ease-in-out infinite;
}


@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(0.8);
        opacity: 0.5;
    }

    50% {
        transform: translate(-50%, -50%) scale(2.0);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%) scale(0.8);
        opacity: 0.5;
    }
}

.list {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.item {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

}

.active {
    opacity: 1;
}

.product-img {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.product-img img {
    max-width: 80%;
    max-height: 60%;
    filter: drop-shadow(0 0 30px rgba(0, 247, 255, 0.3));
}

.content {
    width: 55%;
    height: 100%;
    padding-right: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 2;
    flex-direction: column;
}


.product-tag {
    font-size: rem;
    text-transform: uppercase;
    color: #00f7ff;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.product-name {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 20px;
    font-family: "Orbitron", sans-serif;
    line-height: 1.1;
}

.description {
    font-size: 1.1rem;
    color: #ebe8e88d;
    margin-bottom: 30px;
    max-width: 80%;
    line-height: 1.5;
}

.btn {
  display: inline-block;
  padding: 12px 16px;
  background: linear-gradient(90deg, #00f7ff, #0066ff);
  border-radius: 50px;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
  z-index: 2;
 transition: all 0.2s ease;
}



.arrows {
    position: absolute;
    width: 100%;
    height: 95%;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90%;
    z-index: 2;
    
}

.arrow-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
    opacity: 0.4;
}

.arrow-btn:hover {
    opacity: 1;
    transform: scale(1.2);    
}

.indicators{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    z-index: 5;
}

.numbers {
    font-family: "Orbitron", sans-serif;
    font-size: 3rem;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.2);
}

.dots {
    display: flex;
    gap: 10px;
}

.dot{
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition: all 0.2s ease;
}

.dot.active {
    box-shadow: rgba(0, 247, 255, 0.5) 0px 0px 10px;
    background-color: #00f7ff;
    transform: scale(1.1);
}

.tech-circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circle {
    position: absolute;
    border-radius: 50%;
    border: 3px solid rgba(0, 247, 255, 0.2); 
}

.circle:nth-child(1) {
    width: 150px;
    height: 150px;
    top: 10%;
    left: 10%;
}

.circle:nth-child(2) {
    width: 200px;
    height: 200px;
    top: 10%;
    left: 40%;
}

.circle:nth-child(3) {
    width: 100px;
    height: 100px;
    top: 80%;
    left: 80%;
}

.circle:nth-child(4) {
    width: 150px;
    height: 150px;
    top: 40%;
    left: 80%;
}
